<div class="content">
	<p> About Lyrical <p>

	<p>
		On October 5, 2012 around 2pm: It was after classes and I was checking out a new band I saw 
		on <b>Spotify</b>. Their music was good, so good in fact that I was slightly annoyed when occasionally I 
		missed what the singer was saying. After fumbling through some web pages that claimed to have the 
		lyrics I was looking for but showered me instead with pop up ads and sparkly swirlies that tailed
		my cursor, I resolved to do something about my predicament. Thus the <b>Lyrical</b> app was born.
	</p>
</div>