<div class="content">
	<p> About Lyrical <p>
		
	<p>
		On October 5, 2012 around 2pm: It was after classes and I was checking out a new band I saw 
		on <b>Spotify</b>. Their music was good, so good in fact that I was slightly annoyed when occasionally I 
		missed what the singer was saying. After fumbling through some web pages that claimed to have the 
		lyrics I was looking for but showered me instead with pop up ads and sparkly swirlies that tailed
		my cursor, I resolved to do something about my predicament. The darkness that surrounded me in the
		depths of my dispair gave way in a flash of the realization that I could actually do something about
		this. Thus the <b>Lyrical</b> app was born.
	</p>
</div>
<div>
	<p>
		Of course, there already exists probably hundreds of solutions to this problem that look exactly like
		mine. But this app is golden to me. It is special in that it is the product of a full developer life-cycle:
		First, living with this problem for ages to finally acknowledging the problem turned into a self-realization
		of my ability to better my current situation. This is my proof to no one else but myself that I can 
		solve problems and come up with solutions on my own.  
	</p>
</div>